html,
body {
    overflow: hidden;
}

.dialog-box {
    z-index: 100;
    display: none;
}

.rendering-canvas {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#main-menu-container {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 300px;
    z-index: 2000;
    display: none;
}