/* VARIABLES */

$backgroundColor: #000;
$translucentBackgroundColor: rgba(0, 0, 0, 0.8);
$foregroundColor: #fff;
$errorColor: #f00;
$debugBorderColor: rgba(250, 250, 250, 0.5);
$finalBorderColor: #000;

/* CSS ELEMENT DEFINITIONS */

html,
body {
    font-family: "Lucida Console", Monaco, monospace;
    background: $backgroundColor;
}

.dialog-box {
    border-radius: 10px;
    border: 1px solid $foregroundColor;
    background: $translucentBackgroundColor;
}

.error-box {
    border: 1px solid $errorColor;
    color: $errorColor;
    hr {
        background: $errorColor;
    }
    #error-hint-reload {
        cursor: pointer;
        text-decoration: underline;
        font-style: italic;
    }
}

.rendering-canvas {
    border: 1px solid $finalBorderColor;
}